<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product </title>
</head>
<body bgcolor="#ffe4c4">
<div style="align-content: center">
    <center>
        <form action="./insert" method="get">
            Enter Product Id :<input type="text" name="pro_id"><br>
            Enter Product name :<input type="text" name="pro_name"><br>
            Enter Product cost :<input tpe="text" name="pro_cost"><br>
            Enter Product mfdt :<input type="text" name="pro_mfdt"><br>
            Enter Product expdt :<input type="text" name="pro_expdt"><br>
            <input type="submit" value="insert">

        </form>
    </center>
</div>
</body>
</html>